* {
  background-color: transparent;
  color: white;
  font-family: "JetBrains Mono";
  font-weight: bold;
  font-size: 9pt;
}

window#waybar {
    background: rgba(22, 25, 37, 0.75);
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}
